/target
src/traces/systor17/*
src/traces/test traces/*
src/traces/*.atf
src/histograms/frequency histograms
src/histograms/old data
src/traces/scans/*
src/traces/random traces/*
src/traces/used traces/*
src/traces/unused traces/*